@{
    ViewData["Title"] = "Pakketten";
}

@model IEnumerable<Package>

<div>
    <h1>Pakketten</h1>
    <h5 class="text-danger">@TempData["ResultMessage"]</h5>
    <h5 class="text-success">@TempData["IsSuccessMessage"]</h5>
    <div class="card outerCard">
        <div class="row">
            <div class="flex">
                <h4 class="h4FlexText">@ViewData["Status"] @ViewData["Title"]</h4>
                <a class="btn btn-primary flexButton" asp-action="StartAtRecommended">Naar aanbevolen pakketten</a>
            </div>
            @if (Model != null) {
                @if (@Model.Count() == 0) {
                    <p>Er zijn geen pakketten gereserveerd.</p>
                }
                @foreach (var package in @Model) {
                    <div class="col-lg-3 col-md-6 col-sm-6 mb-3 d-flex align-items-stretch">
                        <div class="card">
                            <img src="https://cdn.britannica.com/36/123536-050-95CB0C6E/Variety-fruits-vegetables.jpg" class="card-img-top" alt="Card Image">
                            <div class="card-body d-flex flex-column">
                                <h5 class="card-title">
                                    @package.Name
                                    @if (@package.IsEighteenPlus) {
                                        <img src='/img/18.png' class="rounded float-start smallImg" alt="18+">
                                    }
                                </h5>
                                <ul class="noBullets">
                                    <li>Locatie: @package.CityEnum.ToString().Replace("_", " "), @package.CanteenLocationEnum</li>
                                    <li>Ophaaldatum: @package.PickupDate</li>
                                    <li>Aantal producten: @package.Products.Count</li>
                                    <li><a asp-action="Detail" asp-route-Id="@package.Id">Klik hier voor meer details.</a></li>
                                </ul>
                                <a asp-controller="Package" asp-action="CancelReserve" asp-route-Id="@package.Id" class="btn btn-primary mt-auto move20Down align-self-start">Reservering annuleren</a>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>